body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1  h2{
  color: black;
}
p {
  color: black;
}

a {
  color: #00B7FF;
}
.nav-link {
  color:#010000;
  transition: color 0.1s ease, background-color 0.1s ease;
}

.nav-link:hover { 
  color: #fcfafa !important;
  background-color: #010102;
  text-decoration: none;
}

