{{!-- Extend the layout template --}}
{{> layout}}    

{{!-- Extend the header layout template--}}
{{> header}}

{{!-- Provide content for the body --}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>My Story!</h1>
            <div class="content">
            <h4>Academic journey.</h4>
            <p> As a first-generation Latino, I faced significant challenges and judgment in my early education.
                Despite self-doubt and discouragement, I persevered, earning an Associate’s degree in Electrical 
                Engineering after exploring various jobs for four years. Driven by my passion for technology, 
                I returned to college and completed a Bachelor’s degree in Computer Science, demonstrating my 
                commitment to personal growth and continuous learning.
            </p>
            </div>

            <div class="content">
            <h4>Personal Journey.</h4>
            <p> Growing up in a household with eight siblings, my mother and older sisters sacrificed their own 
                opportunities to raise us. Despite these hardships and living in poverty, I remained determined 
                to stay on a positive path. Participating in various programs, I developed a strong sense of 
                responsibility and a commitment to helping my family and community.
            </p>
            </div>

            <div class="content">
            <h4>Career Journey.</h4>
            <p> My career aspirations crystallized during my sophomore year of college when I was inspired by 
                the movie “Iron Man.” This inspiration led me to pursue a career in technology, leveraging my 
                creativity and problem-solving skills. To support myself, I began working in my senior year, 
                facing the challenge of adapting to a new work environment. A pivotal moment came when my 
                kitchen manager, Andres, advised me to “echale con ganas” (give it your all). This motivated 
                me to excel in every job I undertook. Through hard work and dedication, I transitioned from 
                one industry to another, gaining invaluable lessons and always striving to be the best in my field.
            </p>
            </div>
        </div>
    </div>
</div>


