{{!-- Extend the layout template --}}
{{> layout}}    

{{!-- Extend the header layout template--}}
{{> header}}

{{!-- Provide content for the body --}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>My Story!</h1>
            <div class="content">
            <h4>Hola!</h4>
            <p>My Name is Gerardo, and I'm an aspiring software developer.</p>
            </div>

            <div class="content">
            <h4>Experience.</h4>
            <p> I have two years of experience gained from school work in developing
                and implementing software requirements. I’ve worked with various programming
                languages and consistently met deadlines for changes and new implementations.
            </p>
            </div>

            <div class="content">
            <h4>Education.</h4>
            <p> Associate Degree in Electrical Engineering<br></p>
            <p>Bachelor's Degree in Computer Science with a concentration in Full-Stack Development</p>
            </div>

            <div class="content">
            <h4>Growing up.</h4>
            <p> Raised as one of 9 kids by a single mother, I learned the value of hard work and perseverance. 
                Despite challenges, I always strive to help others and seize opportunities.
                I learned real quickly that there are always opportunities but there aren't always shortcuts.
            </p>
            </div>

            <div class="content">
            <h4>Fun Facts.</h4>
            <p>I enjoy working out, traveling, 3D printing, working on projects, and playing games.</p>
            </div>

        </div>
    </div>
</div>


