{{!-- Extend the layout template --}}
{{> layout}}    

{{!-- Extend the header layout template--}}
{{> header}}

{{!-- Provide content for the body --}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Get to know me!</h1>
            <div class="content">
            <h4>Academic journey.</h4>
            <p>As a first generation latino I struggled to keep up in school due to judgment, I fell behind until my senior year. 
                Despite efforts to improve by enrolling in a an International Baccalaureate education program, discouragement from 
                my peers and even my guidance counselor led me to drop out of the program. I completed community college instead, 
                receiving my Associate's degree in Electrical Engineering. Post graduation I was determined to get into a field 
                that I was more passionate about, I returned to college to complete a Bachelor's degree in Computer Science.
            </p>
            </div>

            <div class="content">
            <h4>Personal Journey.</h4>
            <p></p>
            </div>

            <div class="content">
            <h4>Career Journey.</h4>
            <p></p>
            </div>
        </div>
    </div>
</div>


