{{!-- Extend the layout template --}}
{{> layout}}    

{{!-- Extend the header layout template--}}
{{> header}}

{{!-- Provide content for the body --}}
<main>
  <div class="container col-xxl-9 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/aspiring.png" class="d-block mx-lg-auto img-fluid img-bordered" alt="Bootstrap Themes" width="350" height="150" loading="lazy">
        </div>
        <div class="col-lg-5 secondary-text-box">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-white">Hola!</h1>
          <p class="lead">My Name is Gerardo, I'm an aspiring software developer.</p>
        </div>
      </div>
  </div>

  <div class = "b-example-divider"></div>

    <div class="container col-xxl-9 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-5 secondary-text-box">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-white">Experience</h1>
          <p class="lead">
            I have two years of experience gained from school work in developing
            and implementing software requirements. I’ve worked with various programming
            languages and consistently met deadlines for changes and new implementations.
          </p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/intro.png" class="d-block mx-lg-auto img-fluid img-bordered" alt="Bootstrap Themes" width="350" height="150" loading="lazy">
        </div>
      </div>
  </div>

  <div class = "b-example-divider"></div>

    <div class="container col-xxl-9 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/education.png" class="d-block mx-lg-auto img-fluid img-bordered" alt="Bootstrap Themes" width="350" height="150" loading="lazy">
        </div>
        <div class="col-lg-5 secondary-text-box">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-white">Education</h1>
          <p class="lead">Bachelor's Degree in Computer Science with a concentration in Full-Stack Development.</p>
          <p class="trail">Associate's Degree in Electrical Engineering Technologies.</p>
        </div>
      </div>
  </div>

    <div class = "b-example-divider"></div>

    <div class="container col-xxl-9 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-5 secondary-text-box">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-white">Growing Up</h1>
          <p class="lead">
            As one of nine kids raised by a single mother, I learned the value of hard work and perseverance. Despite challenges, I strive to help others and seize opportunities, bringing dedication and resilience to everything I do.
          </p>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/growing_up.png" class="d-block mx-lg-auto img-fluid img-bordered" alt="Bootstrap Themes" width="350" height="150" loading="lazy">
        </div>
      </div>
  </div>

    <div class = "b-example-divider"></div>

    <div class="container col-xxl-9 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/edit 1.png" class="d-block mx-lg-auto img-fluid img-bordered" alt="Bootstrap Themes" width="350" height="150" loading="lazy">
        </div>
        <div class="col-lg-5 secondary-text-box">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-white">Fun Facts</h1>
          <p class="lead">I enjoy working out, traveling, 3D printing, working on projects, and playing games.</p>
        </div>
      </div>
  </div>
</main>