{{!-- Extend the layout template --}}
{{> layout bodyClass = "index-page"}}    

{{!-- Extend the header layout template--}}
{{> header}}

{{!-- Provide content for the body --}}
<main>
  <div class="container col-xxl-9 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-5 text-box">
          <h1 class="display-6 fw-bold text-body-emphasis lh-1 lg-3 text-white">Gerardo Gonzalez</h1>
          <p class="lead">CODE. LEARN. SLEEP. REPEAT. </p>
        </div>
      </div>
  </div>
</main>

