{{!-- Extend the layout template --}}
{{> layout}}    

{{!-- Extend the header layout template--}}
{{> header}}

{{!-- Provide content for the body --}}
{{!-- Main section of the body --}}

<main>
    <section class = "py-5 text-center container">
        <div class = "row py-lg-5">
            <div class = "col-lg-6 col-md-8 mx-auto">
                <h1 class= "fw-light"> Projects </h1>
                <p class = "lead text-body-secondary-light ">
                    Explore my portfolio of projects, showcasing the skills I learned as a full-stack development student.
                </p>
                <p>
                    <a href="https://github.com/Gonz-inc" class = "btn btn-primary my-2">GitHub</a>
                </p>
            </div>
        </div>
    </section>
</main>
