{{!-- Extend the layout template --}}
{{> layout}}    

{{!-- Extend the header layout template--}}
{{> header}}

{{!-- Provide content for the body --}}
{{!-- Main section of the body --}}

<main>
    <section class = "py-5 text-center container">
        <div class = "row py-lg-5">
            <div class = "col-lg-6 col-md-8 mx-auto">
                <h1 class= "fw-light"> Projects </h1>
                <p class = "lead text-body-secondary-light ">
                    Explore my portfolio of projects, showcasing the skills I learned as a full-stack development student.
                </p>
                <p>
                    <a href="https://github.com/Gonz-inc" class = "btn btn-primary my-2">GitHub</a>
                </p>
            </div>
        </div>
    </section>

<div class = "album py-5 bg-custom-color">
    <div class = "container">
        <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class = "col">
                <div class = "card shadow-sm bg-dark">
                    <img src= "/images/openGL.png"  class="bd-placeholder-img card-img-top " alt="Project Thumbnail"  style="width: 100%; height: 250px; object-fit:fill">
                    <div class = "card-header" style="color: white;"> 
                        <h4>OpenGL Project</h3>
                    </div>
                    <div class= "card-body">
                        <p class = "card-text"></p>
                        <div class = "d-flex justify-content-between align-items-center">
                            <div class = "btn-group">
                                <button type="button" class = "btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-body-secondary text-white">On going</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "col">
                <div class = "card shadow-sm bg-dark">
                    <img src= "/images/Travlr.png"  class="bd-placeholder-img card-img-top " alt="Project Thumbnail" style="width: 100%; height: 250px; object-fit:fill">
                    <div class = "card-header" style="color: white;"> 
                        <h4>Full-Stack Development 1</h3>
                    </div>
                    <div class= "card-body">
                        <p class = "card-text">A travel web page that has users find and add </p>
                        <div class = "d-flex justify-content-between align-items-center">
                            <div class = "btn-group">
                                <button type="button" class = "btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-body-secondary text-white">On going</small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class = "col">
                <div class = "card shadow-sm bg-dark">
                    <img src= "/images/AWS.png"  class="bd-placeholder-img card-img-top " alt="Project Thumbnail" style="width: 100%; height: 250px; object-fit:fill">
                    <div class = "card-header" style="color: white;"> 
                        <h4>Full-Stack Development 2</h3>
                    </div>
                    <div class= "card-body">
                        <p class = "card-text"></p>
                        <div class = "d-flex justify-content-between align-items-center">
                            <div class = "btn-group">
                                <button type="button" class = "btn btn-sm btn-outline-secondary">View</button>
                            </div>
                            <small class="text-body-secondary text-white">On going</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    
</main>
